<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/DealOrNoDeal" version="1.0.0" viewmodes="maximized">
    <tizen:application id="h2D7B0q1T2.DealOrNoDeal" package="h2D7B0q1T2" required_version="3.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="logo.png"/>
    <name>DealOrNoDeal</name>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/content.write"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:profile name="tv"/>
</widget>
